The datasource in .csv format can be found here:
https://dane.gov.pl/pl/dataset/3009,dane-dotyczace-hospitalizacji-rozliczonych-jgp-w-l/resource/45163/table

The datasource with list of ICD-9 can be found here: https://www.nfz.gov.pl/dla-swiadczeniodawcy/slowniki/pliki-icd-9-pl/

In [2]:
import pandas as pd
df = pd.read_csv(r'/Users/LILI/Projects/000_procedures/procedury.csv',delimiter=';', names=["rok","NIP", "JDG","ICD-9"], index_col=False  )
df_2021 = df[df.rok==2021]

In [17]:
print("********************",df_2021.shape)

******************** (6022268, 4)

In [7]:
df_2021.to_csv('/Users/LILI/Projects/2023_project_procedures/procedures_2021_1000.csv')

In [87]:
#nieudana proba zrobienia automatycznego podzialu wg lat, problem cudzyslow
years=list(set(df.rok))
df_names =[]
for year in range(len(years)):
    a = str('df_'+str(years[year]))
    df_names.append(a)
df_names

['df_2017', 'df_2018', 'df_2019', 'df_2020', 'df_2021']

In [8]:
df_2021.head(10)

           rok         NIP               JDG     ICD-9
22511207  2021  5422529292  5.51.01.0008032   77.67
22511208  2021  5422529292  5.51.01.0008032   78.627
22511209  2021  5422529292  5.51.01.0008032   100.01
22511210  2021  5422534063  5.51.01.0018074   A01
22511211  2021  5422534063  5.51.01.0018074   N45
22511212  2021  5422534063  5.51.01.0018074   100.01
22511213  2021  5422534063  5.51.01.0018074   C53
22511214  2021  5422534063  5.51.01.0018074   O35
22511215  2021  5422534063  5.51.01.0018074   G11
22511216  2021  5422534063  5.51.01.0018074   V99

In [14]:
len(set(df_2021['ICD-9']))

7302

In [20]:
df_2021['ICD-9'].value_counts().head(20)

89.00       91914
89.04       87826
M37         82407
L43         77490
I81         77040
O35         76137
N45         73912
G21         73024
G11         71820
87.440      71815
N13         66672
89.522      63296
I17         62838
I19         61682
A01         61127
C55         61007
88.761      57596
89.61       53792
I89         53438
L69         52996
Name: ICD-9, dtype: int64

### DOWNLOAD MERGING TABLE - ICD-9 MAPPING

In [261]:
import pandas as pd
df_ICD9 = pd.read_excel(r'/Users/LILI/Projects/000_procedures/icd-9_pl_cm_v_5.69.xlsx',
                        sheet_name='ICD-9_PL', skiprows=[0], dtype=str)

df_ICD9.head(2)

,nr,tytuł,nr,tytuł.1,nr.1,tytuł.2,nr.2,tytuł.3
0,AA,Badania laboratoryjne i inne,A,Analityka,A01,Badanie ogólne moczu (profil),NaN,NaN
1,AA,Badania laboratoryjne i inne,A,Analityka,A03,Badanie płynu mózgowo-rdzeniowego,NaN,NaN

In [263]:

df_ICD9.loc[df_ICD9['tytuł.3']=='RTG klatki piersiowej']

,nr,tytuł,nr,tytuł.1,nr.1,tytuł.2,nr.2,tytuł.3
6438,87,Diagnostyczne badania radiologiczne,87.4,Inne badania rtg klatki piersiowej,87.44,Rutynowe zdjęcie RTG klatki piersiowej,87.440,RTG klatki piersiowej

In [264]:
df_ICD9.columns = ['ICD-9', 'tytul', 'ICD-9', 'tytul','ICD-9', 'tytul','ICD-9', 'tytul']

In [265]:
df_ICD9_1 = df_ICD9.iloc[:,0:2]
df_ICD9_2 = df_ICD9.iloc[:,2:4]
df_ICD9_3 = df_ICD9.iloc[:,4:6]
df_ICD9_4 = df_ICD9.iloc[:,6:]
df_ICD9_00 = pd.concat([df_ICD9_1,df_ICD9_2, df_ICD9_3, df_ICD9_4], axis=0)

In [266]:

df_ICD9_00.loc[df_ICD9_00['tytul']=='Operacja Swensona']

       ICD-9              tytul
3605  48.493  Operacja Swensona

In [267]:
df_ICD9_00.dropna(inplace=True)

In [268]:

df_ICD9_00.drop_duplicates(inplace=True)

In [269]:
df_ICD9_00['ICD-9']=df_ICD9_00['ICD-9'].values.astype(str)
df_2021['ICD-9'] = df_2021['ICD-9'].values.astype(str)

/var/folders/3s/gg9yq6ys0wb0s7vlvmf5xvkw0000gn/T/ipykernel_5761/2375320560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['ICD-9'] = df_2021['ICD-9'].values.astype(str)

In [270]:
df_ICD9_00['ICD-9'] = df_ICD9_00['ICD-9'].str.strip()
df_2021['ICD-9'] = df_2021['ICD-9'].str.strip()

/var/folders/3s/gg9yq6ys0wb0s7vlvmf5xvkw0000gn/T/ipykernel_5761/1148688142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['ICD-9'] = df_2021['ICD-9'].str.strip()

In [209]:
df_ICD9_00[df_ICD9_00['ICD-9']=='48%']

Empty DataFrame
Columns: [ICD-9, tytul]
Index: []

In [221]:
df_ICD9_00.loc[df_ICD9_00['ICD-9'].str.startswith('93', na=False)]

      ICD-9                                              tytul
7154     93  Fizykoterapia, respiratoroterapia, rehabilitac...
7154   93.0                     Diagnostyka fizjoterapeutyczna
7177   93.1                                      Kinezyterapia
7222   93.2  Inne zabiegi fizjoterapeutyczne w zakresie ukl...
7231   93.2  Inne manualne zabiegi fizykoterapeutyczne w za...
...     ...                                                ...
7483  93.95                          Oksygenacja hiperbaryczna
7484  93.96                                Tlenoterapia - inne
7488  93.97                               Komora dekompresyjna
7489  93.98                Kontrola ciśnienia/składu powietrza
7493  93.99                          Respiratoroterapia - inne

[94 rows x 2 columns]

In [271]:
df_ICD9_00.loc[df_ICD9_00['tytul']=='RTG klatki piersiowej']

       ICD-9                  tytul
6438  87.440  RTG klatki piersiowej

### MERGE WITH THe MAIN SOURCE

In [117]:
df_2021.head()

           rok         NIP               JDG     ICD-9
22511207  2021  5422529292  5.51.01.0008032   77.67
22511208  2021  5422529292  5.51.01.0008032   78.627
22511209  2021  5422529292  5.51.01.0008032   100.01
22511210  2021  5422534063  5.51.01.0018074   A01
22511211  2021  5422534063  5.51.01.0018074   N45

In [272]:
df_2021_id = df_2021.merge(df_ICD9_00, on='ICD-9', how='left',indicator=True )

In [273]:
df_2021_id.sample(10)

,rok,NIP,JDG,ICD-9,tytul,_merge
1387105,2021,5732299604,5.51.01.0011106,90.52,Mikroskopowe badanie krwi -posiew,both
3182170,2021,8981816856,5.51.01.0001011,88.721,Echokardiografia,both
1095438,2021,7542563619,5.51.01.0004007,L31,Gamma glutamylotranspeptydaza (GGTP),both
3466087,2021,6771694570,5.51.01.0004002,L95,Immunoglobuliny M (IgM),both
4168141,2021,9591291292,5.51.01.0004028,I77,Białko całkowite,both
142290,2021,1132393221,5.51.01.0017004,79.35,Otwarte nastawienie złamania z wewnętrzną stab...,both
5737397,2021,8512543558,5.51.01.0004055,89.71,Ocena stanu pacjenta w celu ustalenia postępow...,both
1183836,2021,6262511259,5.51.01.0004016,87.440,RTG klatki piersiowej,both
317601,2021,5220002529,5.51.01.0007016,O43,Transferyna,both
1446528,2021,9542270611,5.51.01.0006110,31.2,Stała tracheostomia,both

### Data Quality Check

In [274]:
df_2021_id[df_2021_id._merge == 'left_only']

          rok         NIP               JDG   ICD-9 tytul     _merge
130794   2021  9661319909  5.51.01.0015066   96.591   NaN  left_only
397710   2021  1181349898  5.51.01.0014035   87.166   NaN  left_only
623332   2021  1181349898  5.51.01.0018007   87.162   NaN  left_only
1011978  2021  8371507803  5.51.01.0004018   87.494   NaN  left_only
2645401  2021  7123194985  5.51.01.0004003   87.493   NaN  left_only
4604413  2021  6572195982  5.51.01.0001059   87.163   NaN  left_only
4609846  2021  6572195982  5.51.01.0005094   87.163   NaN  left_only

In [275]:
len(set(df_2021_id[df_2021_id._merge == 'left_only']['ICD-9']))

6

### Data Overview - first impressions

Najczesciej wykonywane procedury w 2021 roku.

In [283]:
df_2021_id[['ICD-9','tytul']].value_counts().head(20)

ICD-9   tytul
89.00   Porada lekarska, konsultacja, asysta                              91914
89.04   Opieka pielęgniarki lub położnej                                  87826
M37     Kreatynina                                                        82407
L43     Glukoza z krwi żylnej                                             77490
I81     Białko C-reaktywne (CRP)                                          77040
O35     Sód (Na)                                                          76137
N45     Potas (K)                                                         73912
G21     Czas protrombinowy (PT)                                           73024
G11     Czas częściowej tromboplastyny po aktywacji (APTT)                71820
87.440  RTG klatki piersiowej                                             71815
N13     Mocznik                                                           66672
89.522  Elektrokardiografia z 12 lub więcej odprowadzeniami (z opisem)    63296
I17     Aminotransferaza alaninowa (ALT)                                  62838
I19     Aminotransferaza asparaginianowa (AST)                            61682
A01     Badanie ogólne moczu (profil)                                     61127
C55     Morfologia krwi, z pełnym różnicowaniem granulocytów              61007
88.761  USG brzucha i przestrzeni zaotrzewnowej                           57596
89.61   Monitorowanie systemowego ciśnienia tętniczego                    53792
I89     Bilirubina całkowita                                              53438
L69     Hormon tyreotropowy (TSH)                                         52996
dtype: int64

Mozna analizowac to z NIPem.
mozna policzyc ile porad przypada na badanie